/*
 *  全域
 */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

/*
 *  Navigation Bar
 */

.nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background: #5dc3c5;
  color: #ffffff;
  padding: 0 16px;
  width: 100%;
  z-index: 99;
}

.nav__logo {
  display: inline-flex;
}

.nav__menu,
.nav__actions,
.nav__menu__item {
  display: inline-flex;
}

.nav__drawer-trigger {
  display: none;
}

.nav__menu {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.nav__logo,
.nav__drawer-trigger,
.nav__actions,
.nav__menu__item {
  padding: 12px 8px;
  cursor: pointer;
}

/*
 *  Main
 */

.main {
  margin-top: 48px;
  padding: 16px;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.main__header {
  font-size: 16px;
  padding-left: 12px;
  border-left: 5px solid #5dc3c5;
}

/*
 *  Card
 */

.card {
  width: 100%;
  flex: 1;
  min-height: 300px;
  border: 1px solid #efefef;
  margin-right: 16px;
  cursor: pointer;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  margin: 0;
  min-height: 200px;
  color: #999999;
}

.card__content {
  padding: 12px;
}

/*
 *  Clear Cache
 */

 #clear-cache {
   position: fixed;
   right: 16px;
   bottom: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: #5dc3c5;
   color: #ffffff;
   cursor: pointer;
   font-size: 14px;
 }

@media screen and (max-width: 768px) {
  /*
   *  Navigation Bar
   */
  .nav {
    padding: 0;
  }

  .nav__actions {
    margin-left: auto;
  }

  .nav__drawer-trigger {
    display: inline-flex;
  }

  .nav__menu {
    display: none;
  }

  /*
   *  Main
   */
  
  .main__container {
    flex-direction: column;
  }

  /*
   *  Card
   */

  .card {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
